<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDTramaPLEEntities" connectionString="metadata=res://*/BDTramaPLE.csdl|res://*/BDTramaPLE.ssdl|res://*/BDTramaPLE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=BDTramaPLE;persist security info=True;user id=sa;password=Pilot16M0M0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBConnection" connectionString="Database=BDTramaPLE;Server=localhost\sqlexpress;user id=sa;password=Pilot16M0M0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="provExcel9" value="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='Excel 8.0;IMEX = 1;HDR=YES;'"></add>
    <add key="provExcel8" value="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Excel 8.0;IMEX=1;HDR=YES;'"></add>
    <add key="LE" value="LE "/>
    <add key="diadefault" value="00"/>
    <add key="fijo" value="1"/>
    <add key="separador" value="|"/>
    <add key="defaultDate" value="01/01/0001"/>
    <add key="numDefault" value="0"/>
    <add key="valoresTipoDoc_a" value="00,03,05,06,07,08,11,12,13,14,15,16,18,19,23,26,28,30,34,35,36,37,55,56,87,88"/>
    <add key="valoresTipoDoc_b" value="2"/>
    <add key="valoresTipoDoc_c_5" value="07,08,87,88,97,98"/>
    <add key="valoresTipoDoc_c_24" value="03,12,13,14,36ci"/>
    <add key="campo27Default" value="1"/>
    <add key="defaultTipoDoc" value="0"/>
    <add key="defaultNumDoc" value="-"/>
    <add key="defaultNombApe" value="-"/>
    <add key="reglaImporte" value="07,87,97"/>
    <add key="defaultValor" value="0.00"/>
    <add key="defaultTipoCambio" value="0.000"/>
    <add key="valoresFechaEmis" value="07,08,87,88,97,98"/>
    <add key="defaultFecha" value="01/01/0001"/>
    <add key="tipoCompDefault" value="00"/>
    <add key="validaTipoComp" value="12"/>
    <add key="reglaLong" value="07,08"/>
    <add key="reglaLong1" value="87,88,97,98"/>
    <add key="longMin" value="4"/>
    <add key="longMax" value="6"/>
    <add key="longMax1" value="20"/>
    <add key="valoresComp" value="01,03,04,07,08"/>
    <add key="defaultCampo24" value="12"/>
    <add key="validaAnulado" value="ANULADO"/>
    <add key="defaultCampo32" value="1"/>
    <add key="validacionNroCorr1" value="1,6,7"/>
    <add key="validacionNroCorr2" value="9"/>
    <add key="reglaFechaVenc" value="14"/>
    <add key="fechaVacia" value ="1900-01-01"/>
    <add key ="reglaComp2" value="50,52"/>
    <add key="long3" value="3"/>
    <add key="anioMin" value="1981"/>
    <add key="reglaComp" value="91,97,98"/>
    <add key="valoresTipoDoc_d" value="00,03,05,06,07,08,11,12,13,14,15,16,18,19,23,26,28,30,34,35,36,37,55,56,87,88,91,97,98"/>
    <add key="estadoAnulado" value="2"/>
    <add key="reglaCampo27" value="2"/>
    <add key="reglaCampo24" value="12"/>
    <add key="campo24Default" value="00"/>
  </appSettings>
</configuration>