<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Api Settings-->
    <add key="migraPleAPI" value="http://localhost:1922/api/"/>
    <add key="apiTimeout" value="60"/>
    
    <add key="RucCliente" value="20515033841"/>
    <add key="ImportPath" value="\SharedImport\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
